<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/cards.css">
  <title>Document</title>
</head>
<body>
  
    <div class="card-grid">
      <%- include("cards/brinjal") %>
     <%- include("cards/tomatoes") %>
     <%- include("cards/red_paprika") %>
     <%- include("cards/red_cabbage") %>
     <%- include("cards/okra") %>
     <%- include("cards/musk_melon") %>
     <%- include("cards/lettuce") %>
     <%- include("cards/lemon") %>
     <%- include("cards/jack_fruit") %>
     <%- include("cards/cucumber") %>
     <%- include("cards/corn") %>
     <%- include("cards/coriander") %>

     <%- include("cards/chilly") %>
     <%- include("cards/cauli_flower") %>
     <%- include("cards/celery") %>
     <%- include("cards/carrot") %>
     <%- include("cards/broccoli") %>

     <%- include("cards/beetroot") %>
     <%- include("cards/cauli_flower") %>
     <%- include("cards/celery") %>
     <%- include("cards/carrot") %>
     <%- include("cards/broccoli") %>




    </div>

  
</body>
</html>